<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css"/>
  <script language="JavaScript">
   <!--
function addText(input, insText) {
 input.focus();
 if (input.createTextRange) {
   document.selection.createRange().text += insText;
 } else if (input.setSelectionRange) {
   var start = input.selectionStart;
   var end = input.selectionEnd;
   var len = insText.length;
   input.value =
     input.value.substr(0, start) + insText + input.value.substr(end);
   input.setSelectionRange(start+len, start+len);
 } else {
   input.value += insText;
 }
}
function insertCode(text)
{
   var source = document.getElementById("source");
   addText(source, text);
}
   -->
  </script>
  <title>Editing "{{ pagename }}"</title>
 </head>
 <body>
  <table class="all" cols="1" rows="1" align="center"><tr><td>
   <h1 class="logo" align="center">
    <a href="/">
     <img src="/images/small-logo.png" alt="Nifki" style="float:left;"/>
    </a>
    Editing "{{ pagename }}"
   </h1>
{% if error_message %}
   <p class="error" align="center">{{ error_message }}</p>
{% endif %}
   <form
    method="post"
    action="/pages/{{ pagename }}/save/"
    enctype="multipart/form-data"
   >
    {{ form.csrf_token }}
    <table align="center"><tr>
     <td colspan="4" align="center">
      <p>Type the program in here:</p>
      <textarea name="source" rows="30" cols="80">{{ form.source }}</textarea>
     </td>
    </tr><tr>
     <td align="left">
      Width in pixels:
      <input type="text" name="width" size="5" maxlength="5" value="{{ form.width }}" />
     </td>
     <td align="left">
      Height in pixels:
      <input type="text" name="height" size="5" maxlength="5" value="{{ form.height }}" />
     </td>
     <td align="left">
      Milliseconds per frame:
      <input type="text" name="msPerFrame" size="5" maxlength="5" value="{{ form.msPerFrame }}" />
     </td>
     <td align="right">
      <input type="checkbox" name="debug" {% if form.debug %}checked="checked"{% endif %} />
      Show debug output
     </td>
    </tr><tr>
     <td colspan="4" align="left">
      Tag line:
      <input type="text" name="name" size="80" value="{{ form.name }}" />
     </td>
    </tr><tr>
     <td colspan="4" align="right">
      <input type="submit" name="save" accesskey="S" value="Save as"/>
      <input type="text" name="newpage" size="10" maxlength="20" value="{{ form.newpage }}" />
     </td>
    </tr></table>
    <p style="margin-right: 10px;" align="right">
     <a href="/pages/{{ pagename }}/play/">Cancel changes</a>
    </p>
    <div id="gameSprites">
     <h2 align="center">Pictures attached to this page</h2>
{% if not image_list %}
    <p align="center">No pictures</p>
{% else %}
    <table cols="5" rows="{{ (image_list|length + 4) // 5 }}" align="center">
{% macro do_image(image) %}
{% include "fragments/editing-image.html" %}
{% endmacro %}
{%- for row in image_list|batch(5, '') %}
  <tr>
  {%- for image in row %}
    {%- if image %}
    {{ do_image(image) }}
    {%- else %}
    <td>&nbsp;</td>
    {%- endif %}
  {%- endfor %}
  </tr>
{%- endfor %}
    </table>
{% endif %}
     Upload image:
     <input type="file" name="uploadedImage" accept="image/png" size="60" />
     <input type="submit" name="upload" value="Upload" accesskey="U" />
    </div>
   </form>
  </td></tr></table>
 </body>
</html>
